.carousel {
    background:rgb(231, 152, 34);
    /* border: 3px solid rgb(233, 16, 16); */
    padding: 0px;
    height: 100px;
    width: 100%;
    float: right;
    // margin-top: 30px;
}

.carousel-item {
    height: 125px;
    margin-bottom: 0px;
}

.carousel-item img {
    position: relative;
    top: 0;
    /* left: 35%; */
    width: 100%;
    // left: 25%;
    height: auto;
}

.carousel-caption{
    width: 50%;
    float: right;
    // border: 1px solid black;
}