<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <!-- <canvas> -->
                <img id="carouselImg1" class="d-block img-fluid" src="\assets\images\clash-royale-desktop-wide-2048x1152.jpg" alt="header1">
            <!-- </canvas> -->
            <div class="carousel-caption d-none d-md-block">
                <h2>The is the best 1<span class="badge badge-success">BEST!</span></h2>
                
            </div>
        </div>
        <div class="carousel-item" >
            <img id="carouselImg2" class="d-block img-fluid" src="\assets\images/clash-royale-blue-king-hd-qhd-2048x1152.jpg" alt="header2">
            <div class="carousel-caption d-none d-md-block">
                <h2>The is the best 2<span class="badge badge-success">BEST!</span></h2>
                
            </div>
        </div>
        <div class="carousel-item">
            <img id="carouselImg3" class="d-block img-fluid" src="\assets\images/clash-royale-archer-kk-2048x1152.jpg" alt="header3">
            <div class="carousel-caption d-none d-md-block">
                <h2>The is the best 3<span class="badge badge-success">BEST!</span></h2>
                
            </div>
        </div>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
    </ol>
    <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
