<div class="container-fluid ">
  <header class="jumbotron jumbotron-fluid">
      <div class="row row-header">
          <div class="col-12 col-sm-2">
              <h1>Clash College</h1>
              <p>Pick a unit or find videos by combos</p>
          </div>
          <div class="col-12 col-sm-1">
              <div class="">
                  <span class='ground nav-item nav-unit-types'>Ground</span><br>
                  <span class='air nav-item nav-unit-types'>Air</span><br>
                  <span class='towers nav-item nav-unit-types'>Towers</span><br>
                  <span class='spells nav-item nav-unit-types'>Spells</span><br>
              </div>
          </div>
          <div class="col-12 col-sm-7">
              <form id="checkboxForm">
                  <div class="combo-menu" id="combo-dropdown">
                       <ul class="list-unstyled">
                          <div class='ground-menu hide' id="ground-dropdown">
                              <form id="ground-unit-form">
                                      
                              </form>
                          </div>
                          <div class='air-menu hide' id="air-dropdown">
                              <form id="air-unit-form">
  
                              </form>
                          </div>
                          <div class='towers-menu hide' id="towers-dropdown">
                              <form id="towers-unit-form">
  
                              </form>
                          </div>
                          <div class='spells-menu hide' id="spells-dropdown">
                              <form id="spells-unit-form">
  
                              </form>
                          </div>
                      </ul>
                  </div> 
          
              <input id="submit" class="btn" type="submit" value="Find videos" onsubmit="">
          
                  
              </form>
          </div>
      </div>        
  </header>
</div>
