<div class="recommendations" id="recommendations">
  <div class="" id="">
      <h3 class="gradient">Video of the day</h3>
      <iframe src="https://www.youtube.com/embed/RUdasc71_K4" allowfullscreen id='myIframe'></iframe>
  </div>
  <div id="">
      <h3 class="gradient">Best plays</h3> 
      <iframe src="https://www.youtube.com/embed/kI-vI-wbx7U" allowfullscreen id='myIframe'></iframe>
  </div>
  <div id="">
      <h3 class="gradient">Best defense</h3>
      <iframe src= "https://www.youtube.com/embed/v-FNWCsOK_k" allowfullscreen id='myIframe'></iframe>
  </div>

</div>
