<div id="accordion">
  <div class="card">
      <div class="card-header" role="tab" id="groundHeader">
      <!-- <h3 class="mb-0"> -->
          <a data-toggle="collapse" data-target="#groundBody">
            <div class="button v16">
                <span class="label">Ground</span>
                <span class="icon">
                    <span></span>
                </span>
                <span class="icon2">
                </span>
            </div>
          </a>
      <!-- </h3> -->
      </div>
      <div class="collapse card-body" id="groundBody" data-parent="#accordion">
          
              <ul id="groundList" class="list-unstyled">
                 

              </ul>
          
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="airHeader">
      <!-- <h3 class="mb-0"> -->
          <a data-toggle="collapse" data-target="#airBody">
            <div class="button v15">
                <span class="label">  Air </span>
                <span class="icon">
                    <span></span>
                </span>
                <span class="icon2">
                </span>
            </div>
          </a>
      <!-- </h3> -->
      </div>
      <div class="collapse card-body" id="airBody" data-parent="#accordion">
        <ul id="airList" class="list-unstyled">


        </ul>
     </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="towersHeader">
      <!-- <h3 class="mb-0"> -->
          <a data-toggle="collapse" data-target="#towersBody">
            <div class="button v14">
                <span class="label">Towers</span>
                <span class="icon">
                    <span></span>
                </span>
                <span class="icon2">
                </span>
            </div>
          </a>
      <!-- </h3> -->
      </div>
      <div class="collapse card-body" id="towersBody" data-parent="#accordion">
          
              <ul id="towerList" class="list-unstyled">


              </ul>
          
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="spellsHeader">
          <!-- <h3 class="mb-0"> -->
              <a data-toggle="collapse" data-target="#spellsBody">
                <div class="button v18">
                    <span class="label">Spells</span>
                    <span class="icon">
                        <span></span>
                    </span>
                    <span class="icon2">
                    </span>
                </div>
              </a>
          <!-- </h3> -->
      </div>
      <div class="collapse card-body" id="spellsBody" data-parent="#accordion">
          
              <ul id="spellsList" class="list-unstyled">


              </ul>
          
      </div>
  </div>
</div>
