<div id="accordion">
  <div class="card">
      <div class="card-header" role="tab" id="groundHeader">
      <h3 class="mb-0">
          <a data-toggle="collapse" data-target="#groundBody">
          Ground
          </a>
      </h3>
      </div>
      <div class="collapse" id="groundBody" data-parent="#accordion">
          <div class="card-body">
              <ul id="groundList" class="list-unstyled">


              </ul>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="airHeader">
      <h3 class="mb-0">
          <a data-toggle="collapse" data-target="#airBody">
          Air
          </a>
      </h3>
      </div>
      <div class="collapse" id="airBody" data-parent="#accordion">
          <div class="card-body">
              <ul id="airList" class="list-unstyled">


              </ul>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="towersHeader">
      <h3 class="mb-0">
          <a data-toggle="collapse" data-target="#towersBody">
          Towers
          </a>
      </h3>
      </div>
      <div class="collapse" id="towersBody" data-parent="#accordion">
          <div class="card-body">
              <ul id="towerList" class="list-unstyled">


              </ul>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="card-header" role="tab" id="spellsHeader">
          <h3 class="mb-0">
              <a data-toggle="collapse" data-target="#spellsBody">
              Spells
              </a>
          </h3>
      </div>
      <div class="collapse" id="spellsBody" data-parent="#accordion">
          <div class="card-body">
              <ul id="spellsList" class="list-unstyled">


              </ul>
          </div>
      </div>
  </div>
</div>
