.row-header{
    margin-top: 35px;
    background-color: rgb(245, 155, 81);
}


.row-content{
    margin-top: 35px;
    
    // background-color: rgb(245, 155, 81);
    // background-image: url("\assets\images\clash-royale-desktop-wide-2048x1152.jpg");
}