.mainIframe{
    position: relative;
    height:400px;
    width: 100%;
}

.product-details{
    back: floralwhite;
    font-size: 4em;
    padding: 10px 5px 10px 5px;
    // background: -webkit-linear-gradient(rgb(230, 221, 221), rgb(32, 11, 11));
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
}

.icons{
    float: right;
    size: 1em;
}