<div id="videos">
    <div id="video">
        <div class="gradient-border" id="box">
            <iframe class="mainIframe" src="" allowfullscreen id='myIframe'></iframe>
        </div>
        
        <div class='product-details'>
            <span class="videoDeails" id='tags'></span>
            <span class="videoDeails" id='rate'></span>
        
        <div class="icons">
            <!-- <span class="fa fa-thumbs-up"></span>
            <span class="fa fa-thumbs-down"></span>
            <span class="fa fa-share-alt-square"></span> -->
        </div>
    </div>
    </div>
</div>